.content {
  margin: 0rem 20rem;
  padding-top: 10rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  z-index: 0;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  height: 100%; 
}

.nav-item:nth-child(2) {
  margin-left: 4rem;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  justify-content: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  padding-inline: 3rem;
}

.logo {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
  padding-top: 1rem;
  color: var(--text-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

.article {
  height: 85vh;

  display: grid;
  gap: 1rem;

  grid-template-areas: 
  'blank image image blank'
  'blank title title blank'
  'index main main side'
  'f f f f';

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
}

.article:nth-child(1) {
  grid-area: index;
}

.article:nth-child(2) {
  grid-area: main;
}

.article:nth-child(3) {
  grid-area: side;
}

.article:nth-child(4) {
  grid-area: f;
}

.course-resume{
  border: 5px solid black;
  padding: 5rem 4rem;
}

.article-resume{
  padding: 3rem 0rem;
}

.article-resume-header{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1rem;
  width: 100%;
}

.article-resume-header a{
  text-decoration: none!important;
}

.article-resume-title{
  font-weight: bold;
  margin-left: 1rem;
  padding-top: 1rem;
  color: var(--bg-secondary);
  font-size: 2.5rem;
  grid-column-start: 1; 
  grid-column-end: 3;
}

.article-resume-title:link, .article-resume-title:hover{
  text-decoration: none!important;
}

.article-resume-date{
  margin-left: 1rem;
  font-size: 1rem;
  float:right;
}

.article-resume-content{
  padding: 0rem 4rem; 
}