.content {
  margin-inline: 5rem;
  padding-top: 6rem;
}

.navbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  height: 100%;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  justify-content: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  padding-inline: 3rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

.article {
  height: 85vh;

  display: grid;
  gap: 1rem;

  grid-template-areas: 
  'blank image image blank'
  'blank title title blank'
  'index main main side'
  'f f f f';

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;
}

.article:nth-child(1) {
  grid-area: index;
}

.article:nth-child(2) {
  grid-area: main;
}

.article:nth-child(3) {
  grid-area: side;
}

.article:nth-child(4) {
  grid-area: f;
}